.nav{
    background-color: yellowgreen;
    padding: 20px;
    text-align: right;
   display: float;
   flex-direction: row;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}